@using BadmintonBookingApp.Models.Padding
@model PaginatedList<BadmintonBookingApp.Models.Services.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/myStyle.css"/>
@* <style>
    .dropdown {
        float: left;
        overflow: hidden;
    }

        .dropdown:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: 0.5s all;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--secondaryColor);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 8px;
    }

        .dropdown-content .dropdown-menu-item {
            float: none;
            color: #000;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            cursor: pointer;
        }

        .dropdown-content a {
            text-decoration: none;
        }

        .dropdown-content .dropdownA-menu-item:hover {
            background-color: #ddd;
            border-radius: 8px;
        }

    .dropdown:hover .dropdownA-content {
        display: block;
    }
</style> *@
<p>
    <a class="btn btn-primary" asp-action="create">Create new</a>
</p>
<div >
    <form class="d-flex  tm-search-form dropdown" method="get" id="search-form">
        <div>
            <input class="form-control tm-search-input" name="query" id="search-input" type="text" placeholder="Search" aria-label="Search">
            <div id="search-results" class="dropdown-content"></div>
        </div>

        <button class="btn btn-outline-success tm-search-btn" type="button" value="Search" id="addBtn">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>


<div id="itemlist">
    <partial name="_ServiceSearchResult" model="@Model" />
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Status.GetValue(item.Status,Status.serviceDictionary)
            </td>
            <td>
                <img src="~/@item.ImageUrl" style="width:150px"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>  *@
@section Scripts {
    <script>
        $(function () {
            $("#addBtn").click(function () {
                var query = $("#search-input").val();
                query = query.trim();
                $.ajax({
                    url: "@Url.Action("SearchServices", "Services", new {Area = "Admin"})",
                    data: { query: query },
                    type: "Post",
                    success: function (result) {
                        $("#itemlist").html("");
                        $("#itemlist").html(result);
                    },
                    error: function (result) {
                        window.alert("This is an unhandled exception. ");
                    }
                });
            });
        });

    </script>
}
