@using BadmintonBookingApp.Models.Padding
@model PaginatedList<BadmintonBookingApp.Models.Services.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a class="btn btn-primary" asp-action="create">create new</a>
</p>
<form class="d-flex position-absolute tm-search-form dropdown" method="get" id="search-form">
    <div>
        <input class="form-control tm-search-input" name="query" id="search-input" type="text" placeholder="Search" aria-label="Search">
            <div id="search-results" class="dropdown-content">
        </div>
    </div>

    <button class="btn btn-outline-success tm-search-btn" type="button" value="Search" id="addBtn" >
        <i class="fas fa-search"></i>
    </button>
</form>

<div id="itemlist">
    <partial name="_ServiceSearchResult" model="@Model" />
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Status.GetValue(item.Status,Status.serviceDictionary)
            </td>
            <td>
                <img src="~/@item.ImageUrl" style="width:150px"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>  *@
@section Scripts {
    <script>
        $(function () {
            $("#addBtn").click(function () {
                var query = $("#search-input").val();
                query = query.trim();
                $.ajax({
                    url: "@Url.Action("SearchServices", "Services", new {Area = "Admin"})",
                    data: { query: query },
                    type: "Post",
                    success: function (result) {
                        $("#itemlist").html("");
                        $("#itemlist").html(result);
                    },
                    error: function (result) {
                        window.alert("This is an unhandled exception. ");
                    }
                });
            });
        });

    </script>
}