@model IEnumerable<BadmintonBookingApp.Models.Reservations.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_stolenLayout.cshtml";
}
@* <img class="parallax-slider" src="~/images/Checkout.jpg" style="position: absolute; width:100%"> *@
<a asp-action="Create" asp-controller="Reservations">Create new</a>
@*
<div class="vh-100 gradient-custom">
    <div class="container py-5 h-100 opacity-80">
        <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="card mx-auto" style="background-color: #19283f; color: white; border-radius: 1rem; ">
                    <div class="card-body text-center">

                        <h1 class="text-white text-center">ROOM RESERVATION</h1>
                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa fa-user p-2" aria-hidden="true"></i>
                                <input type="text" class="" placeholder="Name">
                            </div>

                            <div class="input-group">
                                <i class="fa fa-phone p-2" aria-hidden="true" ></i>
                                <input type="number" class="input" placeholder="Phone Number">
                            </div>

                            <div class="input-group">
                                <i class="fa fa-calendar p-2" aria-hidden="true" ></i>
                                <input type="text" class="input" placeholder="Arrival Date" onfocus="(this.type='Date')">
                            </div>

                            <div class="input-group">
                                <i class="fa fa-users p-2"  aria-hidden="true"></i>
                                <select class="input" aria-hidden="true">
                                    <option value="">No.Of Guests</option>
                                    <option value="">1-3</option>
                                    <option value="">4-7</option>
                                    <option value="">7-10</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <i class="fa fa-user p-2" aria-hidden="true" ></i>
                                <input type="text" class="input" placeholder="National ID">
                            </div>

                            <div class="input-group">
                                <i class="fa-solid fa-envelope p-2" ></i>
                                <input type="email" class="input" placeholder="Email">
                            </div>

                            <div class="input-group">
                                <i class="fa fa-calendar p-2" aria-hidden="true"></i>
                                <input type="text" class="input" placeholder="Departure Date" onfocus="(this.type='Date')" ">
                            </div>

                            <div class="input-group">
                                <i class="fa fa-users p-2" aria-hidden="true" ></i>
                                <select class="input" aria-hidden="true">
                                    <option value="">Room Type</option>
                                    <option value="">Standard Room</option>
                                    <option value="">Deluxe Room</option>
                                    <option value="">Single Bed</option>
                                    <option value="">Double Bed</option>
                                    <option value="">Suite</option>
                                    <option value="">Honeymoon Suite</option>
                                    <option value="">Penthouse Suite</option>
                                </select>
                            </div>
                        </div>

                        <a>
                            <button type="button" class=" btn rounded-pill main-btn">Reserve Now</button>
                        </a>

                    </div>
                </div>

        </div>



    </div>
</div>
</div>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deposite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
