@model BadmintonBookingApp.Models.UserModel
@using BadmintonBookingApp.Data
@{
    ViewData["Title"] = "Home Page";
}
<div class="landing d-flex justify-content-center align-items-center" id="tm-video-container">
    <video autoplay muted loop style="left: 50%;
                    min-height: 100%;
                    min-width: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);">
        <source src="~/vids/ASTROX, Yonex's Latest Badminton Racquet.mp4" type="video/mp4">
    </video>
</div> 
<div class="features text-center pt-5 pb-5">
      <div class="container">
        <div class="main-title mt-5 mb-5 position-relative">
          <img class="mb-4" src="imgs/title.png" alt="" />
          <h2>Badminton</h2>
            <p class="text-black-50 text-uppercase">hello in our court </p>

            <div class="row" style="margin-top: -30px;">
              <div class="col-md-6 col-lg-4">
                <div class="feat">
                  <div class="icon-holder position-relative">
                    <i class="fa-solid fa-wifi fa-4x position-absolute bottom-0 icon"></i>
                  </div>
                  <h4 class="mb-3 mt-3 text-uppercase">Wi-Fi</h4>
                  <p class="text-black-50 lh-lg">
                    Wi-Fi service for all our guests at the court.
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="feat">
                  <div class="icon-holder position-relative">
                    <i class="fa-solid fa-dumbbell fa-4x position-absolute bottom-0 icon"></i>
                  </div>
                        <h4 class="mb-3 mt-3 text-uppercase">Equipment</h4>
                  <p class="text-black-50 lh-lg">
                    Providing our guests with a  modern equipment.
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="feat">
                  <div class="icon-holder position-relative">
                    <i class="fa-solid fa-broom fa-4x position-absolute bottom-0 icon"></i>
                  </div>
                  <h4 class="mb-3 mt-3 text-uppercase">Services</h4>
                  <p class="text-black-50 lh-lg">
                    Services at our court are dedicated to ensuring a comfortable for our guests.
                  </p>
                </div>
            </div>
        </div>
        </div>
        </div>
      </div> 

    <div id="itemlist">
        <partial name="_IndexHome" model="@Model" />
    </div>

   @*  <div class="our-work text-center pt-5 pb-5" id="services">
        <div class="container">
            <div class="main-title mt-5 mb-5 position-relative">
                <img class="mb-4" src="imgs/title.png" alt="" />
                <h2>We Serve This</h2>
                <p class="text-black-50 text-uppercase">Prepare To Be Amazed</p>
            </div>
            <div class="row">
                @foreach(var service in @Model.services)
                {
                    if (@service.Status != 0)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="box" data-work="@service.ServiceName">
                                <img class="img-fluid" src="@service.ImageUrl" alt="" />
                            </div>
                        </div>
                    }
                
                }
            
            </div>
        </div>
    </div>

    <div class="our-work text-center pt-5 pb-5" id="court">
      <div class="container">
        <div class="main-title mt-5 mb-5 position-relative">
          <img class="mb-4" src="imgs/title.png" alt="" />
          <h2>Court in our station</h2>
          <p class="text-black-50 text-uppercase">Prepare To Be Amazed</p>
        </div>
            <div class="row tm-mb-90 tm-gallery">
            @foreach(var court in Model.courts)
            {
                if(court.Status != 0)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                        <figure class="effect-ming tm-video-item">
                            <img src="~/images/court/court.jpg" alt="Image" class="img-fluid">
                            <figcaption class="d-flex align-items-center justify-content-center">
                                <h2>@court.CourtName</h2>
                                <a asp-action="Display" asp-route-id="@court.Id">View</a>
                            </figcaption>
                        </figure>
                    </div>
                }
                
             }
            </div>
    </div>
    <!-- our team  -->
    @* <div class="team text-center pb-5 pt-5">
      <div class="container pb-5 pt-5">
        <h2 class="fw-bold">meet the team</h2>
        <p class="text-black-50 mb-5">
          we hope you enjoyed
        </p>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="box bg-white">
              <img class="img-fluid" src="imgs/palastane.png" alt="" />
              <h4 class="p-3 text-light">abdallah ahmed</h4>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box bg-white">
              <img class="img-fluid" src="imgs/emad1.jpg" alt="" />
              <h4 class="p-3 text-light">mohammed emad</h4>

            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box bg-white">
              <img class="img-fluid" src="imgs/atiah11.jpg" alt="" />
              <h4 class="p-3 text-light">abdallah ali</h4>

            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box bg-white">
              <img class="img-fluid" src="imgs/basel.jpg" alt="" />
              <h4 class="p-3 text-light">basel hamdi</h4>

            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box bg-white">
              <img class="img-fluid" src="imgs/rashedy.jpg" alt="" />
              <h4 class="p-3 text-light">mohammed rashedy</h4>

            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="box bg-white">
              <img class="img-fluid" src="imgs/sherif.png" alt="" />
              <h4 class="p-3 text-light">seif sherif</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end-our team  -->

    <!-- sponser  -->
    <div class="techs pt-5 pb-5 text-center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
            <img class="img-fluid" src="imgs/tech-1.png" alt="" />
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
            <img class="img-fluid" src="imgs/tech-2.png" alt="" />
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
            <img class="img-fluid" src="imgs/tech-3.png" alt="" />
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
            <img class="img-fluid" src="imgs/tech-4.png" alt="" />
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
            <img class="img-fluid" src="imgs/tech-1.png" alt="" />
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2 mt-3 mb-3">
            <img class="img-fluid" src="imgs/tech-2.png" alt="" />
          </div>
        </div>
      </div>
    </div> *@
    <!-- end-sponser  -->

    @*   <!-- reserve  -->
    <div class="project text-center pt-5 pb-5 text-light">
      <h2>Reserve Your Room</h2>
      <p class="text-white-50 mt-5 h-20">Hotel & Spa is a family-friendly hotel that offers a wide range of accommodation types, from rooms to suites. <br />All this in the peaceful surroundings of our beautiful gardens, will make your time at Hotel an unforgettable holiday.</p>
      <div class="d-flex justify-content-center mt-5 mb-5">
        <a class="btn rounded-pill main-btn text-uppercase" href="html/reserve.html">Reserve Now</a>
      </div>
    </div>
      <!-- end-reserv  -->
      <!-- blog  -->
    <div class="blog pt-5 pb-5">
      <div class="container">
        <div class="main-title text-center mt-5 mb-5 position-relative">
          <img class="mb-2" src="imgs/title.png" alt="" />
          <h2>Read Our Blog</h2>
          <p class="text-uppercase text-black-50">New Services</p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <img src="imgs/Gallery_of_Athletic_Development_Club___Studio_VA_-_12.jpg" class="card-img-top" alt="Blog Post" />
              <div class="card-body">
                <span class="text-black-50">Aug 17, 2023</span>
                <h5 class="card-title">Gym is added in our Hotel</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <img src="imgs/Decor_for_Beauty_Salon_-_Blog_by_Diamond_Designs_Uniforms.jpg" class="card-img-top" alt="Blog Post" />
              <div class="card-body">
                <span class="text-black-50">Nov 17, 2023</span>
                <h5 class="card-title">Spa is added in our Hotel</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <img src="imgs/icerink.jpg" height="" class="card-img-top" alt="Blog Post" />
              <div class="card-body">
                <span class="text-black-50">Jan 5, 2023</span>
                <h5 class="card-title">Olymic Ice Rink is added</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-5 mb-5">
          <a class="btn rounded-pill main-btn text-uppercase" href="#">More Stories</a>
        </div>
      </div>
    </div>
      <!-- end - blog  -->

      <!-- Feedback  -->
    <div class="subscribe pt-5 pb-5 text-center text-md-start " id="contact">
      <div class="container">
        <form class="row align-items-center">
          <div class="col-md-6 col-lg-3">
            <div class="fw-bold fs-5 mb-3">Send Your Feedback : </div>
          </div>
          <div class="col-md-6 col-lg-7 mb-3">
            <input class="w-100 text-light p-2 bg-transparent" type="text" placeholder="Enter Your Feedback" />
          </div>
          <div class="col-md-6 col-lg-2">
            <input class="btn rounded-pill" type="submit" value="Send" />
          </div>
        </form>
      </div>
    </div> *@

@section Scripts {
    <script>
        $(function () {
            $.ajax({
                url: "@Url.Action("IndexHome", "Home")",
                type: "Post",
                success: function (result) {
                    $("#itemlist").html("");
                    $("#itemlist").html(result);
                },
                error: function (result) {
                    window.alert("This is an unhandled exception. ");
                }
            });
        });
    </script>
}