<!DOCTYPE html>
<html lang="en">
<head>
    @using BadmintonBookingApp.Models.Nav
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>@ViewData["Title"] - BadmintonBookingApp</title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/hotel.css">
    <link rel="stylesheet" href="~/css/reserve.css">
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/register.css">
    <link rel="stylesheet" href="~/css/Styles.css">
    <link rel="stylesheet" href="~/css/chiu.css">
    <link rel="stylesheet" href="~/css/index.css">
    @* <link rel="stylesheet" href="~/css/templatemo-style.css"> *@
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;500&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    
    <style>
        .form-group {
            display: flex;
            flex-direction: column;
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
        }

        .delete-details {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 15px;
            text-align: center;
        }
        .layout-CSS{
            display:none;
        }
    </style>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        string a = "";
        @if (User.IsInRole("Admin"))
        {
            a = "home-section";
            <div class="sidebar">
                <div class="logo-details">
                    <i class='bx bxl-c-plus-plus icon'></i>
                    <div class="logo-name">Badminton</div>
                    <i class='bx bx-menu' id="btn"></i>
                </div>
                <ul class="nav-list" style="padding:initial">
                    <li>
                        <a asp-area="" asp-action="Index" asp-controller="Court" id="content1" onclick="Change(id)" >
                            <i class='bx bx-grid-alt'></i>
                            <span class="links-name">Court</span>
                        </a>
                        <span class="tooltip">Court</span>
                    </li>
                    <li>
                        <a asp-area="" asp-action="Index" asp-controller="Reservations" id="content2" onclick="Change(id)">
                            <i class='bx bx-user'></i>
                            <span class="links-name">Reservation</span>
                        </a>
                        <span class="tooltip">Reservation</span>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-action="Index" asp-controller="Services" id="content3" onclick="Change(id)">
                            <i class='bx bx-chat'></i>
                            <span class="links-name">Services</span>
                        </a>
                        <span class="tooltip">Services</span>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-action="Index" asp-controller="Price" id="content4" onclick="Change(id)">
                            <i class='bx bx-pie-chart-alt-2'></i>
                            <span class="links-name">Price</span>
                        </a>
                        <span class="tooltip">Price</span>
                    </li>
                    <li>
                        <a asp-area="" asp-action="Index" asp-controller="User" id="content5" onclick="Change(id)">
                            <i class='bx bx-user'></i>
                            <span class="links-name">User</span>
                        </a>
                        <span class="tooltip">User</span>
                    </li>
                    

                    @* <li>
            <a href="#">
            <i class='bx bx-cart-alt'></i>
            <span class="links-name">Order</span>
            </a>
            <span class="tooltip">Order</span>
            </li>
            <li>
            <a href="#">
            <i class='bx bx-heart'></i>
            <span class="links-name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
            </li>
            <li>
            <a href="#">
            <i class='bx bx-cog'></i>
            <span class="links-name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
            </li> *@
                    <li class="profile">
                        <div class="profile-details">
                            @* <img style="width: 110px"  src="~/images/logo/badminton_logo_light.png"> *@
                            <div class="name-job">
                                <div class="name">@User.Identity.Name</div>
                                <div class="job">Admin</div>
                            </div>
                            <a asp-area="Identity" asp-page="/Account/Logout"><i class='bx bx-log-out' id="log-out"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <input type="hidden" id="hiddenA" value="@a" />
        }
    }
    <section id="MyElement">
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home",new {Area = ""})#tm-video-container">
                    <img style="width: 150px" src="~/images/logo/badminton_logo_light.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="main" style="background: #19283F">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3 active" aria-current="page" href="@Url.Action("Index", "Home", new { Area = "" })#tm-video-container">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2 p-lg-3" href="@Url.Action("Index", "Home", new {Area = ""})#services">Services</a>
                        </li>
                        <li class="nav-item">
                            
                            <a class="nav-link p-2 p-lg-3" href="@Url.Action("Index", "Home",new {Area = ""})#court">Court</a>
                        </li>
                        <li class="nav-item">
                            @if(User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link p-2  p-lg-3" asp-area="" asp-action="Create" asp-controller="Reservations">Reserve Courts</a>
                            } else
                            {
                                
                                <a class="nav-link p-2  p-lg-3" asp-area="Identity" asp-page="/Account/Login">Reserve Courts</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link p-2  p-lg-3" asp-area="" asp-action="Index" asp-controller="Reservations">Reserve History</a>
                            }
                            else
                            {

                                <a class="nav-link p-2  p-lg-3" asp-area="Identity" asp-page="/Account/Login">Reserve History</a>
                            }
                        </li>

                    </ul>
                    <div class="search ps-3 pe-3 d-none d-lg-block">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <partial name="_LoginPartial" />
        </nav>

        <div>
            <main role="main">
                @RenderBody()
             </main>
        </div>
        <footer class="@((ViewBag.CurrentPageName ?? "Unknown") == "HomePage" ? "border-top footer text-muted" : "layout-CSS")">
            <div class="footer pt-5 pb-5 text-white-50 text-center text-md-start">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="info mb-5">
                                <img style="width: 150px" src="~/images/logo/badminton_logo_light.png" alt="" class="mb-4" />
                                <p class="mb-5">
                                    Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed,
                                    convallis at tellus.
                                </p>
                                <div class="copyright">
                                    Created By <span>TODteam</span>
                                    <div>&copy; 2023 - <span>Badminton Inc</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="links">
                                <h5 class="text-light">Links</h5>
                                <ul class="list-unstyled lh-lg">
                                    <li>Home</li>
                                    <li>Our Services</li>
                                    <li>Rooms</li>
                                    <li>Support</li>
                                    <li>Terms and Condition</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="links">
                                <h5 class="text-light">About Us</h5>
                                <ul class="list-unstyled lh-lg">
                                    <li>Sign In</li>
                                    <li>Register</li>
                                    <li>About Us</li>
                                    <li>Blog</li>
                                    <li>Contact Us</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="contact">
                                <h5 class="text-light">Contact Us</h5>
                                <p class="lh-lg mt-3 mb-5">Get in touch with us via mail phone.We are waiting for your call or message</p>
                                <a class="btn rounded-pill main-btn w-100" href="#">
                                    todreamscompany@gmail.com
                                </a>
                                <ul class="d-flex mt-5 list-unstyled gap-3">
                                    <li>
                                        <a class="d-block text-light" href="#">
                                            <i class="fa-brands fa-facebook fa-lg facebook rounded-circle p-2"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-block text-light" href="#">
                                            <i class="fa-brands fa-twitter fa-lg twitter rounded-circle p-2"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-block text-light" href="#">
                                            <i class="fa-brands fa-linkedin fa-lg linkedin rounded-circle p-2"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="d-block text-light" href="#">
                                            <i class="fa-brands fa-youtube fa-lg youtube rounded-circle p-2"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>

   
    <script src="~/js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });

        $(function () {
            /************** Video background *********/

            function setVideoSize() {
                const vidWidth = 1280;
                const vidHeight = 720;
                const maxVidHeight = 400;
                let windowWidth = window.innerWidth;
                let newVidWidth = windowWidth;
                let newVidHeight = windowWidth * vidHeight / vidWidth;
                let marginLeft = 0;
                let marginTop = 0;

                if (newVidHeight < maxVidHeight) {
                    newVidHeight = maxVidHeight;
                    newVidWidth = newVidHeight * vidWidth / vidHeight;
                }

                if (newVidWidth > windowWidth) {
                    marginLeft = -((newVidWidth - windowWidth) / 2);
                }

                if (newVidHeight > maxVidHeight) {
                    marginTop = -((newVidHeight - $('#tm-video-container').height()) / 2);
                }

                const tmVideo = $('#tm-video');

                tmVideo.css('width', newVidWidth);
                tmVideo.css('height', newVidHeight);
                tmVideo.css('margin-left', marginLeft);
                tmVideo.css('margin-top', marginTop);
            }

            setVideoSize();

            // Set video background size based on window size
            let timeout;
            window.onresize = function () {
                clearTimeout(timeout);
                timeout = setTimeout(setVideoSize, 100);
            };

            // Play/Pause button for video background
        });
    </script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/js/all.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/Script.js"></script>  *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
    <script src="~/js/wy.js"></script>
    <script>
        var nameClass = document.getElementById("hiddenA").value;
        document.getElementById("MyElement").className = nameClass;
        // alert(nameClass);
        

        function Change(stringVariable) {
            $.ajax({
                url: '/Home/UpdateSlideValue',
                type: 'POST',
                dataType: 'json',
                data: { slideValue: stringVariable },
                success: function (result) {
                    console.log("Slide value updated successfully!");
                },
                error: function (xhr, status, error) {
                    console.error("Error occurred while updating slide value:", error);
                }
            });
        }
        document.getElementById("@Sidebar.curSlide").className = "change";
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
